.about-us {
    .meet-team{
      background-color: #f7f7f7;
      .team-card {
        background-color: #fff;
        border: 0;
        padding: 20px 12px;
        border-radius: 0;
        height: 100%;
        .card-img-top {
           width: 200px;
          // height: 140px;
          margin: 0 auto;
          border-radius: 0px;
          object-fit: cover;
        }
        .card-body {
          padding: 15px 0 0;
          text-align: center;
          .card-title {
              font-size: 24px;
              color: var(--black);
              font-weight: 500;
              margin-bottom: 5px;
              //font-family: var(--title-font);
          }
          .card-text {
            font-weight: 400;
            margin-bottom: 10px;
            font-size: 18px;
            color: var(--black);
            //font-family: var(--title-font);
          }
          .card-last {
            font-size: 16px;
          }
          @media (max-width: 575px) {
            .card-title {
              font-size: 20px;
            }
          }
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      .media-item {
        width: 35px;
        height: 35px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--black);
        margin: 10px 5px 0;
        color: #fff;
        border-radius: 0px;
        font-size: 18px;
        &:hover{
          background-color: var(--pink);
        }
      }
    }
    .who-we-are{
     
      .who-we-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .who-we-box {
          border: 1px solid #e3e3e3;
          height: 100%;
          .who-we-icon {
            img {
              height: 320px;
            }
          }  
          .who-we-info {
            padding: 16px;
            h3 {
              color: var(--black);
              font-size: 24px;
              margin-bottom: 10px;
              font-family: var(--title-font);
            }
            p {
              margin: 0;
            }
            @media (max-width: 575px) {
              padding: 12px;
              h3{
                font-size: 20px;
              }
            }
          }
        }
        @media (max-width: 991px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
        }
      } 
    }
    h2{
      color: var(--black);
      margin-bottom: 16px;
      font-size: 36px;
      @media (max-width: 575px) {
        font-size: 24px;
      }
    }
    .who-we-map{
      position: relative;
      height: 500px;
    }
  }
  