.footer {
    background-color: #f7f7f7;
    .footer-log {
      max-width: 160px;
      margin-bottom: 15px;
    }
    .footer-row {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(3, 1fr);
      .additional-row {
        display: flex;
        flex-wrap: wrap;
        .simple {
          flex: 1;
        }
      }
      @media (max-width: 1200px) {
        gap: 20px;
      }
      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    a {
      color: var(--black);
      text-decoration: none;
      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .bottom {
      padding: 15px 12px;
      margin-top: 30px;
      &.background-10-b {
        border-top: 1px solid #d9d9d9;
      }
    }
    .social-links {
      a {
        padding: 10px;
        font-size: 24px;
        line-height: 40px;
      }
    }
    .footer-title {
      font-size: 24px;
      margin-bottom: 16px;
      color: var(--black);
      font-family: var(--title-font);
      @media (max-width: 1200px) {
        font-size: 18px;
      }
    }
    .footer-contact {
      .contact-link {
        display: inline-flex;
        margin-bottom: 10px;
        color: var(--black);
        i {
            font-size: 20px;
            margin-right: 8px;
            display: inline-block;
        }
      }
      a{
        &:hover {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  
    .simple {
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 8px;
        
      }
    }
    .sticky-whatsapp {
      position: fixed;
      bottom: 25px;
      right: 25px;
      cursor: pointer;
       img {
        width: 45px;
        height: 45px;
      }
    }
  }