.fragrance-laboratory {
    .introduction {
      margin: 60px 0px;
      h2{
        color: var(--black);
        margin-bottom: 20px;
      }
    }
  
    .offerings {
        .offering-body {
            display: flex;
            flex-wrap: wrap;
            .offering-left {
                flex: 1;
                padding: 80px;
                .offer-title{
                    h2{
                        margin-bottom: 60px;
                        color: var(--black);
                        font-size: 36px;
                    } 
                }
                .offering-item{
                    margin-bottom: 40px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .offering-row {
                    display: flex;
                    .title {
                        font-size: 24px;
                        margin-bottom: 10px;
                        color: var(--black);
                        font-weight: 500;
                    }
                    p{
                        margin: 0;
                    }
                }
                @media (max-width: 1024px) {
                    padding: 50px;
                }
                @media (max-width: 767px) {
                   flex: auto;
                   margin-bottom: 0px;
                   padding: 30px ;
                   .offer-title{
                        h2{
                          font-size: 24px;  
                          margin-bottom: 30px;
                        }
                    }
                    .offering-row{
                        .title{
                            font-size: 18px;
                        }
                    }
                    .offering-item{
                        margin-bottom: 25px;
                    }
                }
                @media (max-width: 575px) {
                    padding: 0px 0 30px ;
                }
            }
            .offering-right{
                flex: 1; 
                img {
                    height: 100%;
                }
            }
        }
    }
  }
  